html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: black;
}

#ui {;
  z-index: 10;
}

#camera {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#capture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
}


video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
